<?xml version="1.0" encoding="UTF-8" ?>
<!--
 Copyright 2016-2022 Volkan Yazıcı

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permits and
 limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-name>
        <filter-class>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>com.vlkan.hrrs.example.jaxrs.HelloApplication</servlet-name>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.vlkan.hrrs.example.jaxrs.HelloApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.vlkan.hrrs.example.jaxrs.HelloApplication</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.vlkan.hrrs.servlet.HrrsServlet</servlet-name>
        <servlet-class>com.vlkan.hrrs.servlet.HrrsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.vlkan.hrrs.servlet.HrrsServlet</servlet-name>
        <url-pattern>/hrrs</url-pattern>
    </servlet-mapping>

</web-app>
