<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-name>
        <filter-class>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>com.vlkan.hrrs.example.jaxrs.CustomBase64HrrsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>com.vlkan.hrrs.example.jaxrs.HelloApplication</servlet-name>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.vlkan.hrrs.example.jaxrs.HelloApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.vlkan.hrrs.example.jaxrs.HelloApplication</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.vlkan.hrrs.servlet.HrrsServlet</servlet-name>
        <servlet-class>com.vlkan.hrrs.servlet.HrrsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.vlkan.hrrs.servlet.HrrsServlet</servlet-name>
        <url-pattern>/hrrs</url-pattern>
    </servlet-mapping>

</web-app>
